.input_form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.input {
  border-radius: 15px 0px 0px 15px;
  width: 15rem;
  height: 2.5rem;
  padding: 1rem;
  font-weight: 600;
  font-size: 1.1rem;
}

.input_button {
  border-radius: 0px 15px 15px 0px;
  background-color: #1c1c1c;
  width: 3rem;
}
